@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
  
}
a {
    text-decoration: none;
    color: black;
}
.container{
    margin: 1rem;
}

.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.logo {
    padding: 0 1rem;
    height: 2.8rem;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navLink {
    padding: 1rem;
    font-weight: 500;
    color: black;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px #f2f2f2 solid;
    width: 100%;
}
.navLink:hover {
    color: #0065FC;
    border-bottom: 3px #0065FC solid;
}
[data-active]{
    color: #0065FC;
    border-bottom: 3px #0065FC solid;
}
.signup {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    color: #0065FC;
    font-weight: 600;
    justify-content: flex-end;
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
}


.searchInput{
    display: flex;
    border: 1px #f2f2f2 solid;
    border-radius: 15px;
}

.searchInput input{
    border:none;
    text-align: left;
    flex-basis: 90%;
    padding-left:1rem;
    font-weight: 700;
}

#placeholder::placeholder{ /* à revoir sur mozilla */
    color: black;
}

.loca{
    background-color: #f2f2f2;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.loupe {
    background-color: #0065fc;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    justify-content: flex-end;
}
button:hover{
    cursor: pointer;
}
.searchInput button{
    border: 2px #0065fc solid;
    padding: 0;
    border-radius: 15px;
    background-color: #0065fc;
}

#filtres{
    font-weight: 700;
}
#filterList{
    display: flex;
    flex-wrap: wrap;
}
#filterList button{
    border: 2px #d9d9d9 solid;
    border-radius: 50px;
    background-color:white;
    font-size: 0.9rem;
    margin: 0.2rem;
    padding-left:0;
    padding-right: 1rem;
    font-weight: 500;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: "Raleway", "Sans serif";
    transition: border 2s, background-color 1s, font-size 2s, color 2s;
}
#filterList button:hover{
    border: 2px white solid;
    background-color: #0065fc;
    font-size: 1rem;
    color:white;
}
#filterList i{
    color: #0065fc;
    background-color: #f2f2f2;
    padding: 0.7rem;
    border-radius: 100%;
    border: 2px #f2f2f2 solid;
    border-image-outset: 10px;
    margin: -2px 0.8rem -2px -2px;
    font-size: 1.2rem;
}

#cityInfo{
    display: flex;
}
#cityInfo i{
    color: #0065fc;
    background-color: white;
    border-radius: 50%;
    border: 1px #f2f2f2 solid;
    font-weight: 600;
    font-size: 10px;
    align-self: center;
    padding: 5px 10px;
}
#cityInfo p{
    margin-left: 1rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.title i{
    display: flex;
    font-size: 1.5rem;
}
.famous{
    background-color: #f2f2f2;
    width: 100%;
    padding-bottom:2rem;
    padding-top:0.5rem;
}

figure{
    min-height: 6.5rem;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin:1rem;
}

.famousDescription{
    display:flex;
    flex-direction: column;
    margin: 0.8rem;
}
.famousDescription p{
    margin-top: 0.1rem;
    font-size: smaller;
}
figcaption{
    font-weight: 700;
}
.euro{
    font-weight: 700;
}
.note{
    margin-bottom: -0.5rem;
    
}
.note i{
    color: #0065fc;
    font-size: 9px;
    margin: -1px;
}
i[data-i=true]{
    color:#0065fc;
}
i[data-i=false]{
    color:#d9d9d9;
}

.results{
    font-size: 0.8rem;
    margin: 1rem;
}

.imgRognee{
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    margin: 0.3rem;
}
.imgRognee img{
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
article{
    border-radius: 1rem ;
    margin: 2rem 0;
    box-shadow: 1px 1px 1px 1px rgb(243, 240, 240);
}
article img{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

article .famousDescription{
    margin-top:0;
}
article .note{
    margin-bottom: 0.4rem;
}
h4{
    margin: 0.2rem 0;
}
.famousDescription p{
    margin-bottom: 0.3rem;
}
.results a{
    font-weight: 700;
    font-size: 1rem;
}

.activities{
    font-size: 0.8rem;
    margin-top: 2rem;
}
.activities img{
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.activities h2{
    margin:1rem;
}
.activities .famousDescription{
    box-shadow: 1px 1px 1px 1px rgb(243, 240, 240);
    border-radius: 1rem ;
}

.activities h4{
    margin:0.8rem;
}

footer{
    display: flex;
    flex-direction: column;
}
footer div{
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
}
footer h4{
    margin-top: 2rem;
    margin-bottom:1rem;
}
footer a{
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}