@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}
a {
    text-decoration: none;
}


.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo {
    padding: 0 2rem;
    height: 2.8rem;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navLink {
    padding: 2rem;
    font-weight: 500;
    color: black;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
.navLink:hover {
    color: #0065FC;
}
[data-active]{
    color: #0065FC;
}

.signup {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: 1fr 1fr;

    }
    .logo {
        order: 0;
    }
    .signup {
        order: 1;
        justify-content: flex-end;
    }
    .nav {
        display:flex;
        order: 2;
        justify-content: space-between;
        width: 150%;
        
    }
    .navLink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
        padding-top: 1rem;
    }
    .navLink:hover {
        border-bottom-color: #0065FC;
    }
    [data-active]{
        color: #0065FC;
        border-bottom-color: #0065FC;
    }
}