@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0 auto;
  max-width: 1920px;
}

a {
    text-decoration: none;
    color: black;
}
    

.search{
    margin: 1rem;
}
header{
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    margin:  1rem;
    height: 2.8rem;
    justify-content: flex-start;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
}
.navLink {
    padding: 1rem;
    font-weight: 500;
    color: black;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px #f2f2f2 solid;
    width: 100%;
    flex-basis: 50%;
}
.navLink:hover {
    color: #0065FC;
    border-bottom: 3px #0065FC solid;
}
[data-active]{
    color: #0065FC;
    border-bottom: 3px #0065FC solid;
}
.signup {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    color: #0065FC;
    font-weight: 600;
    flex-basis: 50%;
    justify-content: flex-end;
    flex-grow:1;
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.searchInput{
    display: flex;
    border: 1px #f2f2f2 solid;
    border-radius: 15px;
}

.searchInput input{
    border:none;
    text-align: left;
    flex-basis: 90%;
    padding-left:1rem;
    font-weight: 700;
}
#placeholder, #rechercher{
    font-size:110%;
}
#placeholder::placeholder{ 
    color: black;
    opacity: 1;
}

.loca{
    background-color: #f2f2f2;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.loupe {
    background-color: #0065fc;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    justify-content: flex-end;
}
button:hover{
    cursor: pointer;
}
.searchInput button{
    border: 2px #0065fc solid;
    padding: 0;
    border-radius: 15px;
    background-color: #0065fc;
}
#rechercher{
    display: none;
}

#filtres{
    font-weight: 700;
    
}
.filterList{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}
.filterList button{
    border: 2px #d9d9d9 solid;
    border-radius: 50px;
    background-color:white;
    font-size: 0.9rem;
    margin: 0.2rem;
    padding-left:0;
    padding-right: 1rem;
    font-weight: 500;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: "Raleway", "Sans serif";
    transition: background-color 1s,  color 1s;
}
.filterList button:hover{
    background-color: #0065fc;
    color:white;
}
.filterList i{
    color: #0065fc;
    background-color: #deebff;
    padding: 0.7rem;
    border-radius: 100%;
    border: 2px #f2f2f2 solid;
    border-image-outset: 10px;
    margin: -2px 0.8rem -2px -2px;
    font-size: 1.2rem;
}

#cityInfo{
    display: flex;
}
#cityInfo i{
    color: #0065fc;
    background-color: white;
    border-radius: 50%;
    border: 1px #f2f2f2 solid;
    font-weight: 600;
    font-size: 10px;
    align-self: center;
    padding: 5px 10px;
}
#cityInfo p{
    margin-left: 1rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
}
.title i{
    display: flex;
    font-size: 1.5rem;
}

.famous{
    background-color: #f2f2f2;
    width: 100%;
    padding-bottom:2rem;
    padding-top:0.5rem;
}
figure{
    min-height: 8.5rem;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin:1rem;
}
.descriptionBox{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 43%;
}
.famousDescription{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.8rem;
    font-size: large;
}
.famousDescription p{
    margin-top: 0.1rem;
    font-size: smaller;
    font-weight: 500;
}
figcaption{
    font-weight: 700;
    font-size: large;
}
.euro{
    font-weight: 700;
}
.hebergementsPresentation{
    font-size: 0.8rem;
}
.hebergementsPresentation .note{
    margin:0.8rem;
}
.note i{
    color: #0065fc;
    font-size: 12px;
    margin: -1px;
}
i[data-i=true]{
    color:#0065fc;
}
i[data-i=false]{
    color:#d9d9d9;
}


.results{
    margin: 1rem;
}
.imgRognee{
    position: relative;
    min-height: 100%;
    min-width: 40%;
    margin: 0.3rem;
}
.imgRognee img{
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article{
    border-radius: 1rem ;
    margin: 2rem 0;
    box-shadow: 1px 1px 10px 2px #D9D9D9;
}
article img{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    min-height: 57%;
}
article .famousDescription{
    margin-top:0;
    margin-bottom:0;
    font-size: large;
}
article .note{
    margin-bottom: 0.4rem;
}
h3{
    margin: 0.2rem 0;
}
.famousDescription p{
    margin-bottom: 0.3rem;
}
.results a{
    font-weight: 700;
    font-size: 1rem;
}

.activities{
    font-size: 0.8rem;
    margin-top: 2rem;
}
.activities img{
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.activities h2{
    margin:1rem;
    
}
.activities .famousDescription{
    box-shadow: 1px 1px 1px 1px rgb(243, 240, 240);
    border-radius: 1rem ;
}

.activities h3{
    margin:0.8rem;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 2rem;
}
footer div{
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
}
footer h3{
    margin-top: 2rem;
    margin-bottom:1rem;
}
footer a{
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}


/******************** TABLETTE PORTRAIT ********************/
@media screen and (min-width: 720px) {
    header{
        display: flex;
    }
    .descriptionBox{
        background-color: transparent;
    }
    .searchInput{
        width:50%;
        margin-bottom: 1rem;
    }
    .searchInput button i{
        display: none;
    }
    #rechercher{
        display: inline-block;
        padding: 0 0.5rem;
        color: white;
        font-weight: 600;
    }
    .searchInput button{
        border: 2px #0065fc solid;
        border-radius: 0 15px 15px 0;
        background-color: #0065fc;
    }
    .signup {
        display: flex;
        align-items: center;
        padding: 2rem 1rem;
        color: #0065FC;
        font-weight: 600;
        flex-basis: 50%;
        justify-content: flex-end;
        flex-grow:1;
    }
    .famousPresentation{
        display:flex;
        justify-content:space-between;
    }
    .famousPresentation figure{
        min-height: 12rem;        
    }
    .famousPresentation a{
        width:100%;        
    }
    .hebergementsPresentation{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .hebergementsPresentation a{
        width: 30%;
        
    }
    .hebergementsPresentation article{
        
        height: 17rem;     
    }
    .activitiesPresentation{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .activitiesPresentation a{
        width: 30%;
    }
    .famousDescription{
       justify-content: space-between;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer div{
        margin-right:5%;
    }
}
/******************** TABLETTE PAYSAGE ********************/
@media screen and (min-width: 960px) {
    .logo{
        order:0;
        position: absolute;
        top: 0.4rem; 
        left:0;
    }
    .signup{
        order:2;
        display: flex;
        align-items: center;
        padding: 2rem 1rem;
        color: #0065FC;
        font-weight: 600;
        flex-basis:0 ;
        justify-content: flex-end;
        flex-grow:0;

    }
    .nav{
        flex-basis: initial;
        /*border-top:3px #0065FC solid;*/
        order:1;
    }
    [data-active]{
        border-top:3px #0065FC solid;
    }
    .navLink{
        border-bottom:none;
        padding-top: 29px;
        margin-top: -16px;
        
    }
    .navLink:hover{
        border-top:3px #0065FC solid;
        border-bottom:none;
    }
    header{
        justify-content: flex-end;
    }
    .filterListButton{
        display:flex;
        margin: 1rem;
    }
    #filtres{
        margin-right:1.5rem;
    }
    main{
        display:flex;
        flex-wrap: wrap;
    }
    .search{
        order: 0;
    }
    #hebergements{
        order:1;
        width: 60%;
        background-color:#f2f2f2;
        margin-top:0;
        margin-bottom:0;
        border-radius:15px;
        padding:1rem;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #hebergements article{
       display: flex;
       align-content: space-around;
       flex-direction: column;
       margin: 0.2rem;
       border-radius: 20px;
       box-shadow: none;
    }
    .hebergementsPresentation  a{
        border: 1px solid white;
        margin-top: 1rem;
        border-radius: 20px;
        background-color: white;
        box-shadow: 1px 1px 10px 2px #D9D9D9;
        padding-bottom: 0;
    }
    .descriptionBox{
        background-color: transparent;
        justify-content: space-between;
        
    }
    .famous{
        order:2;
        width: 30%;
        border-radius:15px;
        margin:0 auto;
    }
    .famousPresentation{
        display:flex;
        flex-wrap: wrap;
    }
    .famousPresentation figure{
        min-height: 10rem;
    }
    
    .activities{
        order:3;
    }
    .footer{
        order:4;
        width:100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .footer div{
        margin-right:15%;
    }
    .moreInfo{
        padding:1rem 0;
    }
}
/******************** DESKTOP ********************/
@media screen and (min-width: 1280px) {
    body{
        background-color: white;
        
    }
    header, .search{
        margin-left: 3rem;
        margin-right:2rem;
    }
    .searchInput{
        width:25%;
    }
    .search{
        width:100%;
    }
    .logo{
        left:2rem;
    }
    #placeholder, #rechercher{
        font-size:110%;
    }
    .filterList button{
        font-size: 1.3rem;
        font-weight: 600;
        margin-right:1rem;
    }
    .filterList i{
        padding:1.2rem;
    }
    #filtres{
        font-size: 1.3rem;
    }
    .activitiesPresentation{
        position: relative;
    }
    .title{
        margin:auto 1rem;
    }
    h2{
        font-size: 150%;
        margin:0;
    }
    #hebergements{
        padding:0 2rem;
        width:49%;
        position : relative;
        padding-top: 3rem;
        margin-left:3rem;
    }
    #hebergements h2{
        margin:0;
        position: absolute;
        top:2rem;
        left:2rem;
    }
    .hebergementsPresentation{
        margin-top: 2rem;
    }
    .hebergementsPresentation .note{
        margin:0 1rem 0.5rem;
    }
    .hebergementsPresentation a {
        margin: 1.5rem 0;
        padding-bottom: 0;
    }
    article .famousDescription {
        font-size: 120%;
    }
    .famous{
        padding:0 2rem;
        position : relative;
        padding-top: 2rem;
        width:30%;
        margin-right: 3rem;
    }
    .title{
        display:flex;
        justify-content: space-between;
        max-width:100%;
    }
    .imgRognee{
        min-width: 33%;
        min-height: 80%;
    }
    .imgRognee img{
        width: 100%; 
    }
    .famousPresentation{
        margin-top: 1.5rem;
    }
    .famousPresentation figure {
        height: 11rem;
    }
    .famousDescription{
        justify-content: space-between;
        font-size: 120%;
    }
    .note{
        /*margin-top:6rem;*/
        transform: scale(1.2);
        transform-origin: 0;
    }
    .results{
        margin-left: 2rem;
    }
    .results .moreInfo{
        font-size: 110%;
    }
    .activities h2{
        font-size:24px;
    }
    #thirdImg{
        position:absolute;
        top:55%;
        left:25%;
        margin-top:25px;
    }
    #secondImg img {
        height: 11rem;
    }
    #fifthImg img{
        height: 8rem;
    }
    #sixthImg{
        position: absolute;
        top: 47%;
        left:75%;
    }
    .activitiesPresentation a {
        width: 25%;
    }
    .activities{
        width:98%;
        margin-left: 2.5rem;
        margin-right:2.5rem;
    }
    .activities .famousDescription {
        font-size: 140%;
    }
    #firstImg, #forthImg{
        height: 28rem;
    }
    #firstImg img, #forthImg img{
        height: 24rem;
    }
    .activitiesPresentation{
        max-height: 28rem;
        flex-wrap: nowrap;
    }
    #secondImg, #thirdImg, #fifthImg, #sixthImg{
        height: 12rem;
    }
    #thirdImg img  {
        height: 7rem;
    }
    #sixthImg{
        margin-top:19px;
    }
    #sixthImg img{
        height:9.7rem;
    }
    
    .footer div{
        margin-right:23%;
    }
}
@media screen and (min-width: 1400px){
    #hebergements{
        width:50%
    }
}
@media screen and (min-width: 1500px){
    #hebergements{
        width:51%
    }
}
@media screen and (min-width: 1600px){
    #hebergements{
        width:52%
    }
}
@media screen and (min-width: 1700px){
    #hebergements{
        width:53%
    }
}
@media screen and (min-width: 1800px){
    #hebergements{
        width:54%
    }
}